<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>290187223682-p2e69aap3tko8eo9ipoo747dj8oh1197.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.290187223682-p2e69aap3tko8eo9ipoo747dj8oh1197</string>
	<key>API_KEY</key>
	<string>AIzaSyC8oAJYstKZinaUlYpGKYvJXEZTnRkCDc4</string>
	<key>GCM_SENDER_ID</key>
	<string>290187223682</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.poc.flavor.dev</string>
	<key>PROJECT_ID</key>
	<string>poc-flavor-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>poc-flavor-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:290187223682:ios:343027d1b3f9fa228a4a9b</string>
</dict>
</plist>